# All files
[*]
indent_style = space

# Code files
[*.{cs,csx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
guidelines = 80
guidelines_style = 2.5px solid 40ff0000

csharp_using_directive_placement=inside_namespace:silent

# JSON
[*.{json}]
indent_size = 2

[*.{csproj}]
indent_size = 2
